.video{
    /*  исходные размеры видео: 560 х 315*/
    height: 523px; /*auto*/ /*443+80*/
    width: 788px; /* auto */
}
.video.outer_container{
    /* bottom: -40px; */
    box-shadow: 0 0 90px 20px rgba(0,0,0,0.5);
    display: block;
    position: absolute;
    top: 180px;
}