a, body, div, li, menu, nav, span{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.list_manager,
#menu-list{
    width: 276px;
}
.list_manager,
#menu-list >ol{
    background-color: black;
    color: white;
    margin-top: -4px;
}
#menu-list{
    left: 112px;
}
nav{
  padding-left: 112px !important;
}

