#container {
    height: 100%;
    position: relative;
}
#loaded-content{
    position: relative;
}
#main {
    height: 100%;
    width: 100%;
    margin-top: -60px;
    padding-top: 60px;
}
#manage-list-hide{
    bottom: 0;
    border-top: solid 1px;
    display: none;
    width: 100%;
}
#manage-list-show{
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    opacity: 0.85;
}
#menu-container{
    position: absolute;
    
    top: 0;
    bottom: 50px;
    overflow: auto;
    width: 100%;
    background: #000;
    padding: 0 10px 28px 20px;
}
#menu-list{
    display: none;
    margin: 0px;
    position: absolute;
    opacity: 0.85;
    bottom: 0px;
    top: 59px;
    z-index: 1;
    background-color: black;
}
#shell{
    background-color: black;
    bottom: 0;
    display: none;
    opacity: 0.5;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    z-index: 2;
}
#manage-list-hide >div,
#manage-list-show >div{
    cursor: pointer;
    display: table;
}
#manage-list-hide >div span:first-child,
#manage-list-show >div span:first-child{
    transform: scaleY(0.5);
}
#preview-container{
    position: fixed;
    /*top: 25%;*/
    z-index: 3;
    box-shadow: 0 10px 24px 3px rgba(0,0,0,0.65);
}