a, body, div, li, menu, nav, span{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
menu{
    margin: 0;
}
nav{
    background-color: black;
    height: 60px;
    padding: 0;
    position: relative;
}
#menu-list{
    display: none;
}
#menu-container >ol{
    margin: 0;
}
nav >div{
    position: absolute;
    z-index: 2;
}
#menu-container >ol li{
    min-height: 66px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    position: relative;
    padding-top: 13px;
    list-style: none;
}
#menu-container >ol li >span{
    display: block;
    margin-left: -47px;
    padding-left: 36px;
    height: 66px;
    color: white;
}
#menu-container >ol li >span:hover,
#menu-container >ol li >span:hover div{
    color: red;
    cursor: pointer;
}
#menu-container >ol li >span:hover >span{
    color: white;
}
#menu-container >ol li >span >span{
    margin-left: -37px;
    margin-right: 4px;
    margin-top: 4px;
    padding-top: 2px;
    display: inline-block;
    text-align: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: solid 2px #bbb;
}
#menu-container >ol li span >div{
    margin-top: 8px;
    font-size: 12px;
    opacity: 0.7;
}
nav h1{
    color: white;
    font-family: 'Myriad Pro', Arial, Impact, Helvetica;
    line-height: 60px;
    margin: 0;
}
nav div{
   color: white;
}