<!--Слайдер-->
<div id="images-container">
    <div id="pix"></div>
    <div class="pointer left" onclick="handleSlides('left')"></div>
    <div class="pointer right" onclick="handleSlides('right')"></div>
    <section class="left"></section>
    <section class="right"></section>
</div>
<!--Данные объекта-->
<div id="object-data">
    <h1 id="object-name"></h1>
    <div id="object-state"></div>
    <div id="object-desc-short"></div>
    <div id="object-desc"></div>
    <ul id="object-params">
        <li>
            <span></span>
            <span></span>
            <div></div>
        </li>
        <li>
            <span></span>
            <span></span>
            <div></div>
        </li>
        <li>
            <span></span>
            <span><sup></sup></span>
            <div></div>
        </li>
    </ul>
    <button id="object-video"><div></div></button>
    <hr/>
    <div id="object-historical-ref">
        <span id="object-number"></span>
        <div id="object-ref-text"></div>
    </div>
</div>
